[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/raylib-cpp"]
	path = external/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
[submodule "external/gamemode"]
	path = external/gamemode
	url = https://github.com/FeralInteractive/gamemode.git
